<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dispro</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="./static/css/style.css" rel="stylesheet">

  </head>
  <body>
    <main class="container">
      <header>
        <h1 class="fw-bold">
          <img src="./static/images/dispro-logo-102x102.png">
          Digitálna zbierka slovenskej prózy
        </h1>

      <div class="fs-4 mb-4 fw-bold fst-italic text-muted">{{author_count}}
        autorov / {{title_count}} titulov <a href="./data/dispro.zip" class="ms-2" download title="Stiahnuť archív zbierky"><i class="fa-solid fa-download"></i></a></div>
      </header>

      <section class="mb-4">
        <header>
          <h2 class="fw-bold">Index</h2>
        </header>

        <nav class="row gx-3 gy-3">
          {% for c in alphabet %}
          {% if c in index %}
          <div class="col-2">
            <header>
              <h3 class="fs-3 fw-bold">{{ c }}</h3>
            </header>
            <ul>
              {% for author in index[c] %}
              <li>
                <a href="#{{author.2}}">{{author.0}}</a> ({{author.1}})
              </li>
              {% endfor %}
            </ul>
          </div> <!-- COL ENDS -->
          {% endif %}
          {% endfor %}
        </nav> <!-- NAV ROW ENDS -->
      </section>

      <section>
        <header>
          <h2 class="fw-bold">Zbierka</h2>
        </header>

        {% for author in corpus %}
        <article class="mb-5">

          <header>
            <h3 id="{{author.0.lower().replace(' ', '-')}}" class="fw-bold">{{ author.0 }}</h3>
          </header>

          <div class="row gx-2 gy-2">

            {% for title in author.1 %}
            <section class="col-3">
              <div class="card h-100">
                <div class="card-body">
                  <h4 class="fs-5 card-title fw-bold">{{ title.0 }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                  {% for title_file in title.1 %}
                  <li class="list-group-item">
                    <a href="{{ title_file }}" class="">Fulltext</a> (verzia: <em>{{ title_file.split("__").1 }}</em>)
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </section>
            {% endfor %}

          </div> <!-- END TITLE ROW -->

        </article>

        {% endfor %}
      </section>

    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Add Font Awesome -->
    <script src="https://kit.fontawesome.com/b2fc40106a.js" crossorigin="anonymous"></script>
  </body>
</html>
