.ad-position-big-1:not(:empty), .ad-position-megaboard:not(:empty) {
	max-width: 1000px;
	margin: 1em auto 0;
	text-align: center;
}
.advert-manager-debug-info {
	border: 2px solid red;
	background: #ff0;
	color: red;
	opacity: .4;
	position: absolute;
	cursor: pointer;
	top: 0;
	left: -2px;
	z-index: 999;
	padding: 5px;
	line-height: 12px;
	text-transform: none
}
.advert-manager-debug-info span {
	display: block;
	text-align: left;
	font-size: 12px;
	overflow-x: hidden;
}
.advert-manager-debug-info:hover {
	opacity: 1
}
.zlatyfond-ad-position {
	position: relative;
	text-align: center
}
.zlatyfond-ad-position table {
	margin: auto
}
