BODY {background-color: #ffffff;color:#000000;font: .9em 'Georgia','Verdana','Verdana CE','Arial CE',Arial,'Helvetica CE',Helvetica,sans-serif;margin:0px;padding:0px;text-align: center;}
PRE {font: .9em 'Georgia','Verdana','Verdana CE','Arial CE',Arial,'Helvetica CE',Helvetica,sans-serif;font-size:1.2em !important;}
#nadstrankou {display:block;text-align:center;}
#stranka {display:block;position:relative;background: #c7ba9c url('../images/zlatyfond-bg.gif') 0px 50px repeat-x;width:1000px;margin:0px;margin-left:auto;margin-right:auto;text-align:left;}
/*roztahovat na celu sirku: --> */
/*#stranka {display:block;position:relative;background: #c7ba9c url('../images/zlatyfond-bg.gif') 0px -19px repeat-x;width:100%;margin:0px;text-align:left;}*/
#hlavicka {display:block;position:relative;width:998px;height:148px; text-align: left;}
#sme_pager {background:white}
UL,#historicky ul {margin:0px;padding: 0px;list-style-type: none}
LI {padding:0px;margin:0px;}

H1 A {position:absolute;top:0px;left:0px;width:220px;height:112px;background: url('../images/zlatyfond-logo.gif') 0px -16px no-repeat;}
H1 A B {display:none}

#hlavicka_logo span {position:absolute;z-index:5;top:20px;left:170px;font-size:16px}
#hlavicka_menu {display:block;text-align:center;font-size: .8em}
#hlavicka_podlogo,#hlavicka_cesta,#reklama {display:block;position:absolute}
#hlavicka_podlogo {left:0px;top:100px;text-align:center;width:220px;font-size: 0.75em;}
#hlavicka_podlogo b {font-size: 2em;font-weight:100}
#hlavicka form {padding:0px;margin:0px;}
#reklama {top:0px;left:240px;z-index:12}
#hlavicka_cesta {left:230px;top:106px;width:450px}
#hlavicka_menu UL {position:relative;width:205px;height:360px;margin:0px;padding: 0px;list-style-type: none;}
#hlavicka_menu LI	{text-indent:-999px;float:left;clear:left;padding:0px;margin:0px;}
#hlavicka_menu LI A {display:block;margin:0px !important;padding:0px !important;border:0px;text-decoration:none;background: transparent url('../images/menu2.gif') no-repeat 0px 0px;width:205px;height:29px;}
#hlavicka_menu LI A b {display:none;border:none;margin:0px;padding:0px;}
LI#menu1 A {height:59px;background-position:0px 0px}
LI#menu2 A {height:29px;background-position:0px -59px}
LI#menuX A {height:24px;background-position:0px -154px}
LI#menu5 A {height:34px;background-position:0px -178px}
LI#menu6 A {height:33px;background-position:0px -212px}
LI#menu7 A {height:31px;background-position:0px -245px}
LI#menu8 A {height:33px;background-position:0px -276px}
LI#menu9 A {height:29px;background-position:0px -309px}
LI#menu10 A {height:31px;background-position:0px -338px}
LI#menu11 A {height:38px;background-position:0px -369px}
LI#menu1 A:hover,LI#menu1 A.selected {background-position:-205px 0px}
LI#menu2 A:hover,LI#menu2 A.selected {background-position:-205px -59px}
LI#menu5 A:hover,LI#menu5 A.selected {background-position:-205px -178px}
LI#menu6 A:hover,LI#menu6 A.selected {background-position:-205px -212px}
LI#menu7 A:hover,LI#menu7 A.selected {background-position:-205px -245px}
LI#menu8 A:hover,LI#menu8 A.selected {background-position:-205px -276px}
LI#menu9 A:hover,LI#menu9 A.selected {background-position:-205px -309px}
LI#menu10 A:hover,LI#menu10 A.selected {background-position:-205px -338px}
LI#menu11 A:hover,LI#menu11 A.selected {background-position:-205px -369px}


#knihy_menu {position:relative;z-index:4;width:420px;height:250px;background: transparent url('../images/najnovs2.gif') -8px 200px no-repeat;margin-top:20px;}
#zoznamknih UL {position:relative;margin:0px !important;padding:0px !important;list-style-type: none;top:0px;left:27px;width:393px;height:250px;background: transparent url('../images/kniha.gif') repeat-y 0px 0px}
#zoznamknih LI {position:relative;text-indent:0px;float:left;clear:left;padding:0px !important;margin:0px !important;display:block}
#zoznamknih LI A {display:block;border:0px;text-decoration:none;background: transparent url('../images/kniha.gif') no-repeat 0px 0px;width:393px;height:50px !important;padding:0px;margin:0px}
#zoznamknih LI A B {text-transform:uppercase;letter-spacing:1px;color:#f5ffff !important;padding:0px;margin:0px 0px 0px 24px;display:block;width:200px;text-align:center}
#zoznamknih LI A B.small {font-size:10px;padding-top:10px;cursor:pointer;cursor:hand}
#zoznamknih LI A B,#knihy_menu #zoznamknih LI A B.medium {font-size:12px;padding-top:11px;cursor:pointer;cursor:hand}
#zoznamknih LI A B.big {font-size:16px;letter-spacing:1px;padding-top:14px;cursor:pointer;cursor:hand}

.najcitanejsie LI#kniha5a A, .najcitanejsie LI#kniha5b A {background: transparent url('../images/najcit3.gif') -35px 0px no-repeat}
.najnovsie LI#kniha5a A, .najnovsie LI#kniha5b A {background: transparent url('../images/najnovs2.gif') -35px 0px no-repeat}

#zoznamknih span {position:absolute;z-index:10;top:3px;left:240px;background: url('../images/hviezda.gif') 0px 0px no-repeat;display:block;width:42px;height:40px;text-align:center;cursor:pointer;cursor:hand}
#zoznamknih #kniha1 span {top:5px}
#zoznamknih span i {font-size:16px;margin-top:10px;display:block;font-style:normal}
#zoznam01 {display:none}
#zoznam02 {display:block}

#subm {z-index:6;position:absolute;top:270px;left:0px;width:420px;height:60px;}
#subm UL {position:relative;width:420px;height:60px;z-index:6}
#subm LI {padding:0px;margin:0px;display:block;float:left;text-indent:0px;}
#subm LI A {display:block;border:0px;text-decoration:none;background: transparent;width:120px;height:40px;margin:20px 0px 0px 10px}
#subm LI A B {display:block;}
#subm div.najcitanejsie {background: transparent url('../images/najcit3.gif') -8px -50px no-repeat}
#subm div.najnovsie {background: transparent url('../images/najnovs2.gif') -8px -50px no-repeat}

#vyber {display:block;z-index:16}
#vyber UL {position:absolute;right:20px;top:20px;width:400px;height:40px;background: url('../images/vyber.gif') 0px -20px no-repeat;margin:0px;padding: 0px;list-style-type: none;padding-left:30px;z-index:16}
#vyber LI	{padding:0px;margin:0px;display:block;float:left;text-indent:0px;z-index:16}
#vyber LI A {display:block;float:left;border:0px;text-decoration:none;margin:0px 0px 0px 12px;height:20px;font-size:.9em;z-index:16}


hr {background: url('../images/hr.gif') top center no-repeat;height:30px;border:0px;margin-top:20px;margin-bottom:20px;}

#aaa {display:block;}
#aaa UL {position: absolute;width:122px;margin:0px;padding: 0px;list-style-type: none;}
#aaa LI	{padding:0px;margin:0px;display:block;float:left;text-indent:-9999px}
#aaa LI A {display:block;border:0px;text-decoration:none;background: transparent url('../images/aaa.gif') no-repeat 0px 0px;height:56px;width:40px}
#aaa LI A B {display:none}
LI#aaa1 A {background-position:0px 0px}
LI#aaa2 A {background-position:-40px 0px}
LI#aaa3 A {width:42px;background-position:-80px 0px}
LI#aaa1 A:hover,LI#aaa1 A.selected {background-position:0px -56px}
LI#aaa2 A:hover,LI#aaa2 A.selected {background-position:-40px -56px}
LI#aaa3 A:hover,LI#aaa3 A.selected {background-position:-80px -56px}



#pravystlp2 {position:absolute;top:85px;left:820px;width:356px;z-index:4;text-align:center}
#pravystlp2 div {text-align:left}
#dielotyzdna {background: url('../images/dielotyzdna-bg.gif') 0px 0px repeat-y}
/*#dielotyzdna div {background: url('../images/dielotyzdna-btm.gif') bottom left no-repeat}*/
#dielotyzdna div div {padding:5px 30px 10px 0px;background: url('../images/dielotyzdna.gif') 0px -17px no-repeat}

#dielotyzdna img {clear:left;float:right;border:4px white solid;margin:8px 0px 8px 8px}
#dielotyzdna a {display:block;font-size: 0.9em;}
#dielotyzdna a b {font-size: 1.4em;}
#dielotyzdna p {clear:left;margin:16px 12px 12px 16px;line-height:125%}

#historicky {display:block;background: url('../images/historicky-bg.gif');margin-top:6px;}
#historicky div div {background: url('../images/historicky-logo.gif') 0px 0px no-repeat;}
#podhistoricky {background: url('../images/historicky-dole.gif') 0px 0px no-repeat;width:419px;height:45px;}

#historicky .histdatum {display:block;color:#7f3e15;font-size:1.33em;font-weight:100;padding:60px 10px 16px 20px;}
#historicky .histdatum span {font-size:2em;font-weight:100;padding-right:.25em}
#historicky p {margin:10px;}
#historicky ul li {display:block;float:left;width:300px;}
#historicky ul li.ro {float:left;clear:left;width:40px;font-size:1.4em}

#strednystlp div.hore {background-image: url('../images/streeed.gif'); width: 756px; height: 10px; font-size: 3px; margin-top: 8px;}
#streeed {background: url('../images/streeed-bg.gif') 0px 0px repeat-y; padding: 0px; margin: 0px;}
#strednystlp div.dole {background-image: url('../images/streeed-btm.gif'); width: 756px; height: 13px; }


#digitalizatori H2 A,#digitalizatori2 H2 A {clear:left;display:block;width:177px;height:61px;background: url('../images/h-digitalizatori.gif') 0px 0px no-repeat;}

/* TU KALENDAR 3.1.2008 */
#kalendar H2 A {clear:left;display:block;width:177px;height:61px;background: url('../images/kalendar.gif') 0px 0px no-repeat;}
#kalendar H2 A B,#kalendar H2 A B {display:none}
/* TU KALENDAR 3.1.2008 */


#digitalizatori H2 A B,#digitalizatori2 H2 A B {display:none}
#digitalizatori2 H2 A {width:290px;height:65px;background: url('../images/h-najaktivnejsi.gif') 0px 0px no-repeat;}
#digitalizatori div,#digitalizatori2 div {margin:0px 10px 10px 10px}
#pravystlp div UL,#blog UL  {margin:0px;padding:0px;list-style-type: square;color:#8c5934}
.centruj {text-align:center}
#digitalizatori2 .centruj {margin-top:10px;}
#pravystlp div LI,#blog LI {margin:2px 0px 4px 20px;}
#pravystlp div LI span A {font-size: 1.2em}
#blog LI A {font-size: 1em}
#pravystlp div LI span {font-size: .8em;color:#000000 !important}

#stred {display:block;position:relative;width:998px;float:left}
.nadpis {font-size:18px;}
#lavystlp .nadpis {font-size:15px;}
#stranka_clanok .nadpis {font-size:24px;}
#pravystlp .nadpis {font-size:13px;}

#lavystlp {display:block;float:left;position:relative;margin-left:0px;_margin-left:0px;width:205px;}
#lavystlp h2 span {display:none}
#lavystlp table,#lavystlp p {margin:0px 24px 6px 16px}

#strednystlp {display:block;float:left;width:360px;margin:10px 0px 0px 10px;}

#strednystlp-clanok,#strednystlp-rubrika {display:block;float:left;width:580px;margin-top:10px;margin-left:5px;margin-right:7px;margin-bottom:24px;_margin-top:20px;}
#sub {display:block;background: transparent url('../images/jednakniha-bg2.gif') top left repeat-y;width:580px;position:relative;z-index:7}
#sub1 {display:block;background: url('../images/ziadnakniha-bg.gif') top left no-repeat !important;z-index:8;position:relative; overflow: hidden;}
#sub3 {display:block;background: url('../images/jednakniha-bg3.gif') top left no-repeat;width:580px;font-size:0.7em;padding-top:20px;text-align:center}
#sub div div {margin:20px;background: none}
#sub div div div {font-size:0.9em;margin:18px 6px 6px 6px;line-height:200%}
#sub div p.poznamka {font-size:0.75em}
.poznamka {border-top:1px gray solid}
.strankovanie {font-size:1.2em;margin:20px;text-align:center}
.strankovanie span {visibility:hidden}
.autor {border:4px white solid}
#sub2 .autor {float:right;margin:5px}
#sub h2,#sub #sub2 h2, #streeed h2 {font-size:2.4em;line-height:150%;color:#996633;font-weight:100;margin:0px;padding:0px;letter-spacing:1px;z-index:12;position:relative}
#sub .historia h2 {font-size:2.2em;line-height:150%;color:#996633;font-weight:100;margin:0px;padding:0px;letter-spacing:0px;z-index:12;position:relative}
#sub h2 i,#sub #sub2 h2 i {font-size:0.5em;line-height:150%;color:#996633;font-weight:100;margin:0px;padding:0px;letter-spacing:1px;z-index:12;position:relative}
#sub h3,#sub #sub2 h3 {font-size:1.7em;line-height:150%;color:#996633;font-weight:100;margin:0px;padding:0px;letter-spacing:1px;z-index:12;position:relative}
#sub .historia h3 {font-size:1.4em;line-height:150%;color:#996633;font-weight:100;margin:0px;padding:0px;letter-spacing:1px;z-index:12;position:relative}

cite {display:block;background:url('../images/cite1.gif') bottom left no-repeat;width:260px;float:right;margin:10px;}
cite p {display:block;padding:10px 45px 10px 45px;width:190px;background:url('../images/cite2.gif') top right no-repeat}
cite em {font-size:1.2em;display:block;}
cite span {text-transform:uppercase}
UL.fot {position:relative;margin:0px;padding: 0px;list-style-type: none;}
.fot LI	{padding:0px;margin:0px;display:block;float:left;text-indent:0px}
.fot LI A {display:block;border:0px;text-decoration:none;}
.fot LI A img {border:3px white solid;margin:4px 0px 0px 4px;}


#forma {background: url('../images/form.gif') 0px 0px no-repeat;width:196px;margin-left:12px;height:240px}
#forma textarea {margin:48px 0px 9px 9px;font-size:1.2em;width:175px;height:134px;}
#forma input#submit {width:84px;height:38px;float:right}
#pravystlp {display:block;position:relative;float:right;margin-left:0px;width:420px;margin-top:0px;}
#pravystlp-clanok {display:block;float:left;margin-left:0px;width:180px;margin-top:10px;}
#pravystlp h2 span {display:none}
#pravystlp table,#pravystlp p {margin:0px 24px 6px 16px}

#hadanky,#prislovia,#valasskaskola,#citanka {position:relative;display:block;margin:0px;width:200px;height:120px;float:left;text-align:left;}
#hadanky {background: url('../images/h-hadanky.gif') 10px 0px no-repeat}
#prislovia {background: url('../images/h-prislovia.gif') 10px 0px no-repeat}
#valasskaskola {background: url('../images/h-valasskaskola.gif') 10px 0px no-repeat}
#citanka {background: url('../images/h-citanka.gif') 10px 0px no-repeat}

h3 a.nadpis {font-size: 1.5em;font-weight:100;margin:0px;padding:0px;}
h3 a.nadpis1 {font-size: 1.0em;font-weight:100;margin:0px;padding:0px;}
h4 a.nadpis {font-size: 1.2em;font-weight:100;margin:0px;padding:0px;}
/*toto je len demo, bude tu ine*/
.datum {float:left;position:relative;background: url('../images/datum-test.gif') 10px 15px no-repeat;width:70px;height:100px;display:block;text-align:center}
.datumden,.datummesiac {width:40px;height:25px;position:absolute;top:25px;left:13px}
.datummesiac {width:40px;height:25px;position:absolute;top:50px;left:13px}
.d1 {background: url('../images/datum.gif') 0px 0px no-repeat}
.d2 {background: url('../images/datum.gif') 0px -25px no-repeat}
.d3 {background: url('../images/datum.gif') 0px -50px no-repeat}
.d4 {background: url('../images/datum.gif') 0px -75px no-repeat}
.d5 {background: url('../images/datum.gif') 0px -100px no-repeat}
.d6 {background: url('../images/datum.gif') 0px -125px no-repeat}
.d7 {background: url('../images/datum.gif') 0px -150px no-repeat}
.d8 {background: url('../images/datum.gif') 0px -175px no-repeat}
.d9 {background: url('../images/datum.gif') 0px -200px no-repeat}
.d10 {background: url('../images/datum.gif') 0px -225px no-repeat}
.d11 {background: url('../images/datum.gif') 0px -250px no-repeat}
.d12 {background: url('../images/datum.gif') 0px -275px no-repeat}
.d13 {background: url('../images/datum.gif') 0px -300px no-repeat}
.d14 {background: url('../images/datum.gif') 0px -325px no-repeat}
.d15 {background: url('../images/datum.gif') 0px -350px no-repeat}
.d16 {background: url('../images/datum.gif') 0px -375px no-repeat}
.d17 {background: url('../images/datum.gif') 0px -400px no-repeat}
.d18 {background: url('../images/datum.gif') 0px -425px no-repeat}
.d19 {background: url('../images/datum.gif') 0px -450px no-repeat}
.d20 {background: url('../images/datum.gif') 0px -475px no-repeat}
.d21 {background: url('../images/datum.gif') 0px -500px no-repeat}
.d22 {background: url('../images/datum.gif') 0px -525px no-repeat}
.d23 {background: url('../images/datum.gif') 0px -550px no-repeat}
.d24 {background: url('../images/datum.gif') 0px -575px no-repeat}
.d25 {background: url('../images/datum.gif') 0px -600px no-repeat}
.d26 {background: url('../images/datum.gif') 0px -625px no-repeat}
.d27 {background: url('../images/datum.gif') 0px -650px no-repeat}
.d28 {background: url('../images/datum.gif') 0px -675px no-repeat}
.d29 {background: url('../images/datum.gif') 0px -700px no-repeat}
.d30 {background: url('../images/datum.gif') 0px -725px no-repeat}
.d31 {background: url('../images/datum.gif') 0px -750px no-repeat}
.m1 {background: url('../images/datum.gif') 0px -775px no-repeat}
.m2 {background: url('../images/datum.gif') 0px -800px no-repeat}
.m3 {background: url('../images/datum.gif') 0px -825px no-repeat}
.m4 {background: url('../images/datum.gif') 0px -850px no-repeat}
.m5 {background: url('../images/datum.gif') 0px -875px no-repeat}
.m6 {background: url('../images/datum.gif') 0px -900px no-repeat}
.m7 {background: url('../images/datum.gif') 0px -925px no-repeat}
.m8 {background: url('../images/datum.gif') 0px -950px no-repeat}
.m9 {background: url('../images/datum.gif') 0px -975px no-repeat}
.m10 {background: url('../images/datum.gif') 0px -1000px no-repeat}
.m11 {background: url('../images/datum.gif') 0px -1025px no-repeat}
.m12 {background: url('../images/datum.gif') 0px -1050px no-repeat}

.clanok {float:left;width:265px;display:block; margin: 0px; padding: 0px; margin-top: 13px;}
.clanok p {margin: 0px; padding: 0px; margin-top: 5px;}
.clanok h3 {margin: 0px; padding: 0px; }
#blog ul {clear:left;margin-left:70px}
#hadanky div,#prislovia div,#valasskaskola div,#citanka div  {display:block;position:absolute;width:140px;left:50px;top:50px;}
#hadanky img,#prislovia img,#valasskaskola img,#citanka img  {display:block;position:absolute;left:5px;top:50px;}
#valasskaskola img {left:0px;}
#sub #subobsah h3 {font-size:1.4em;padding-left:20px}
#sub #subobsah {position:relative;background-image: url('../images/submenu2.gif') !important;float:right;width:221px;margin:6px !important;padding:0px !important;font-size:1.2em;z-index:15}
#sub #subobsah img {position:relative;z-index:14}
#sub #subobsah ol {margin-left:8px;_margin-left:35px;font-size:1em}
#sub #subobsah ol ol {margin-left:0px;_margin-left:6px;}
#sub #subobsah ol ol ol {margin-left:0px;_margin-left:6px}
#sub #subobsah span {background: url('../images/submenu3.gif') bottom left no-repeat !important;width:221px;height:20px;display:block}
#bodky, #bodky1 {cursor:pointer;}
#zmensit {cursor:pointer;display:none;text-align:right;padding-right:10px}
.upozornenie {background: url('../images/h-upozornenie.gif') 8px -12px no-repeat;font-size:.8em;text-indent:10px;padding:40px 10px 10px 10px;width:220px;float:right;border-left:2px #88522d solid;margin-left:10px;}
.vedelisteze {background: url('../images/h-vedelisteze.gif') 8px -12px no-repeat;font-size:.8em;text-indent:10px;padding:40px 10px 10px 10px;width:220px;float:right;border-left:2px #88522d solid;margin-left:10px;}
#sub2 #tu-budu-spisovatelia li a b {font-size: 1.25em;display:block}
#sub2 #tu-budu-spisovatelia li ul,#sub2 ul.an {margin-left:25px;margin-bottom:25px}
#sub2 #subobsah ul.an {width:185px;margin-bottom:0px}
/*#subobsah ul.an a {display:block;}*/
#sub2 #tu-budu-spisovatelia li ul {font-size: 1.1em}
#sub3 img {margin:6px}

#sub2 div p {font-size: 1.2em}
#sub2 div p img {margin:10px}
.bielepozadie {background-color:white !important;}
.tmavepozadie {background-color:#7f3e15 !important;padding:10px;color:white}
.vpravo {width:250px;font-size:0.75em;margin:10px;padding:8px;float:right}
#forma2 textarea {width:96%;height:100px;border:3px white solid;background-color:#f6f2eb;font-size:15px;}
#forma2 input {width:96%;height:100px;border:3px white solid;background-color:#f6f2eb;font-size:15px;}

#forma2 input.txt {width:96%;height:20px;border:3px white solid;background-color:#f6f2eb;font-size:15px;font-weight: bold;}
#forma2 input.txt2 {width:15em;height:20px;border:3px white solid;background-color:#f6f2eb;font-size:15px;font-weight: bold;}

#vyhladat input.txt2 {width:15em;height:20px;border:3px white solid;background-color:#f6f2eb;font-size:15px;font-weight: bold;}


#forma2 input.txt3 {width:10em;height:20px;border:3px white solid;background-color:#f6f2eb;font-size:15px;font-weight: bold;}

#forma2 input.chcbox {width:16px !important;height:16px !important;border:none !important}

#forma2 #submit2 {width:91px;height:47px;border:none}
#sub2 span.hviezda,table td span.hviezda {display:block;float:left;margin-top:0px;background: url('../images/hviezda2.gif') 0px 0px no-repeat;display:block;text-align:center;width:42px;height:39px;cursor:pointer;cursor:hand}
#sub2 .hviezda i,table td .hviezda i {font-size:15px;margin-top:4px;display:block;font-style:normal}
#sub2 #tu-budu-knihy li span a b {display:block;margin-top:8px;font-size: 1.1em}
#sub2 #tu-budu-knihy li {margin:8px !important;}
#sub2 #tu-budu-knihy ul {margin-bottom:24px !important;}

#pravystlp-clanok span.hviezda {display:block;float:left;margin-top:0px;background: url('../images/hviezdamala.gif') 0px 0px no-repeat;display:block;text-align:center;width:34px;height:34px;cursor:pointer;cursor:hand}
#pravystlp-clanok .hviezda i {font-size:13px;margin-top:6px;display:block;font-style:normal}
#pravystlp-clanok #tu-budu-knihy li span a b {display:block;margin-top:7px;font-size: 0.8em}
#pravystlp-clanok #tu-budu-knihy li {padding:0px;margin:3px !important;}
#pravystlp-clanok #tu-budu-knihy ul {margin-bottom:14px !important;}
.velke {font-size:2.5em}
TABLE {text-align:left}
ul.down {margin:4px}
#pravystlp-clanok li.selected {background-color:#ffffff}
#pravystlp-clanok li {padding:3px}
.down li {float:left;padding:0px !important;margin:0px !important}
.down li a {margin:2px;padding:3px;display:block;float:left}

#sub2 .parslov p {float:left;width:200px;}

.parslov p {background: url('../images/uvodzovky.gif') top left no-repeat;padding-left:40px;width:120px;}
.parslov p em {float:left;font-style:italic;font-size:1em;display:block}
.parslov p em a {font-style:normal;font-size:0.7em}
.parslov p span {clear:left;font-style:normal;font-size:.8em;text-transform:uppercase}
.tmavepozadie a:link,.tmavepozadie  a:visited {color:#f0f0f0 !important;text-decoration:underline}

a#d1 {margin-left:20px !important}
a.ano,a.nie {float:left;font-size:20px !important;display:block;margin:8px 2px 8px 2px;padding:6px}
a.nie:link,a.nie:visited,a.nie:hover,a.nie:active {background-color:#ffffff;color:#7f3e15;text-decoration:none}
a.ano:link,a.ano:visited,a.ano:hover,a.ano:active {background-color:#7f3e15;color:#ffffff;text-decoration:none}

a:link,a:visited {color:#7f3e15;text-decoration:underline}
a:hover,a:active {color:#c1825a;text-decoration:underline}

#dielo2,#dielo3 {display:none}

#paticka {clear:both;display:block;width:100%;background:#ffffff url('../images/paticka-bg.gif') 0px 0px repeat-x;text-align:left;}
#patickalogo {float:left;margin:0px;}
#paticka ul {display:block;font-size:0.75em}
#paticka li {float:left;padding:28px 7px 7px 10px }
#paticka p {clear:left;font-size:10px;color:#777777;padding:20px 20px 40px 20px;display:block}


.sizer1 {font-size:0.8em}
.sizer12 {font-size:0.94em}
.sizer2 {font-size:1em}
.sizer3 {font-size:1.2em}


/*odsadenie*/
.odsadenie p {text-indent:32px;text-align: justify;}

/*pridane*/
.b {font-weight:bold;}
.i {font-style:italic;}
.footnotes {font-size:0.75em;}
.toc {display: none;}
.titlepage h2 {
	clear: none;
}

div.hr {
    height:30px;
    border:0px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
}

#sub .literallayout {font-size: 1.2em}
.odsadenie div {margin:0px !important;padding:0px !important;font-size:1em !important}

.strankovanie {clear:right}
#subobsah ol li a {margin-right:12px !important}

#zoznam_cl .pol {width: 520px; text-align: justify; margin-bottom: 15px;}
#zoznam_cl h4 {margin: 0px;}
#zoznam_cl .pol .dat {text-align: right; font-style: italic; }
#zoznam_cl .pol .hr {float: none; position: static; text-align: center;}


label {font-weight: bold; margin-bottom: 4px; font-size: 1.1em;}

.submit input
{
margin-left: 4.5em;
}

textarea {width:50em; height:15em}

#q input {width:5em}
.literallayout p {text-indent:0px}
.table-contents table {width:100%; float:left; border-style:none;}
div .table p {display:none}
div .literallayout p {display:block}







div.treemap
	{
	margin-bottom: 4px;
	font-family: Lucida Grande, Lucida Sans Unicode, Tahoma, Arial, sans serif;
	}
	
div.treemap div.node
	{
	float: left;
	clear: none;
	background-color: #CCCC00;
	}
	
div.treemap a.textnode
	{
	display: block;
	font-size: 10px;
	text-align: center;
	width: 100%;
	height: 100%;
	background-image: url(../chrome/textnode-border.gif);
	display: block;
	float: left;
	color: #fff;
	overflow: hidden;
	background-color: #A4C088;
	text-decoration: none;
	}
	
div.treemap a.textnode:hover
	{
	background-image: url(../chrome/textnode-border-hover.gif);
	}
	
div.treemap a.proper
	{
	background-color: #DE9949;
	}
	
div.treemap a.textnode img
	{
	vertical-align: middle; 
	border: none;
	}
.clr {clear:both}

#sub .ebook-banner {
	height: 126px;
	background: url("images/ebook-bg.jpg") no-repeat;	
	position: relative;
	overflow: hidden;
	margin: 8px 0 0 7px;
}
#sub .ebook-banner h2 {
	font-family: 'Bree Serif', serif;
	font-size: 23px;
	width: 410px;
	line-height: 26px;
	color: #2a4e61;
	margin: 13px 0 0 15px;
	letter-spacing:-1px
}
#sub .ebook-banner h2 span {
	color: #173341;
	font-size: 26px;
	margin: 0 5px;
}
#sub .ebook-banner .cover {
	background: url("images/ipad.png") no-repeat;
	width: 165px;
	height: 135px;
	position: absolute;
	right: 5px;
	top: 3px;
	transform:rotate(6deg);
	-ms-transform:rotate(6deg);
	-webkit-transform:rotate(6deg);
}
#sub .ebook-banner p {
	position: absolute;
	bottom: 5px;
	left: 5px;
	width: 260px;	
}
#sub .ebook-banner:hover .cover {
	-webkit-animation-name: rotate; 
    -webkit-animation-duration: 0.8s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 0.8s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    0% {-webkit-transform: rotate(6deg);}
    50% {-webkit-transform: rotate(-3deg);}
    100% {-webkit-transform: rotate(6deg);}
}

@-moz-keyframes rotate {
    0% {-moz-transform: rotate(6deg);}
    50% {-moz-transform: rotate(-3deg);}
    100% {-moz-transform: rotate(6deg);}
}
#sub .ebook-banner .cover img {
	position: absolute;
	top: 34px;
	left: 37px;
	width: 94px;
}
#sub .ebook-banner .button {
	background: #7eb110;
	padding: 4px 15px;
	color: white;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-decoration: none;
	font-family: 'Bree Serif', serif;
	font-size: 16px;
	margin: 0 0 0 10px;
	border-bottom: 2px solid #4d7004;	
	vertical-align: middle;
}
#sub .ebook-banner .button:hover {
	opacity: 0.8;
}
#sub .ebook-banner .button img {
	margin: 0 0 0 5px;
}